  /* style.css */

  body {
    font-family: 'Arial', sans-serif;
    background-color: #89cff0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
  }

  .container {
    text-align: center;
    position: relative;
    top: 150px;
  }

  .polaroid {
    position:relative;
    display: inline-block;
  }

  img.love,
  img.moon {
    width: 120px;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 15px 15px 40px 15px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
  }

  #trishaPolaroid {
    margin-right: 300px;
    transform: rotate(340deg);
  }

  #babePolaroid {
    margin-left: 300px;
    transform: rotate(20deg);
  }

  .text {
    text-align: center;
    position: relative;
    margin-bottom: 20px; /* Add margin at the bottom */
    bottom: 50px;
  }

  .animation {
    position: absolute;
  }

  .left {
    height: auto;
    width:90px;
    left:0px;
    bottom: 0;
  }

  .right {
    height: auto;
    width: 80px;
    right: 0px;
    bottom: 0;
  }

  .balloon {
    position: fixed;
    width: 350px; /* Adjust the width as needed */
    height: auto;
    animation: swayBalloon 5s infinite alternate; /* CSS animation for floating effect */
    transform-origin: bottom;
    z-index: -1;
  }

  .balloon-left {
    left: 2000px;
    bottom: 0;
  }

  .balloon-right {
    right: 2000px;
    bottom: 0;
  }

  @keyframes swayBalloon {
    0% {
        transform: rotateZ(0deg);
    }
    50% {
        transform:rotateZ(20deg);
    }
    100% {
        transform: rotateZ(0px);
    }
  }

  h1 {
    font-family:cursive;
    color: #ff8787;
    font-size: 3em;
    margin-bottom: 30px;
  }

  p {
    color: #8c8f97;
    font-size: 1em;
    margin-bottom: 10px;
  }

  .box {
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    position: relative;
    z-index: 1;
    bottom: 30px;
  }

  button {
    padding: 15px 30px;
    font-size: 1em;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    outline: none;
  }


  button:active {
    transform: scale(0.95);
  }

  button:nth-child(odd) {
    background-color: #81ebde;
    color: #0b0101;
  }

  button:nth-child(even) {
    background-color: #839ff1;
    color: #030000;
  }
